<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table class="car table">
    <thead>
    <tr>
        <th scope="col">model</th>
        <th scope="col">color</th>
        <th scope="col">year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${car}">
        <td th:text="${car.getModel}"/>
        <td th:text="${car.getColor}"/>
        <td th:text="${car.getYear}"/>

    </tr>
    </tbody>
</table>
</body>
</html>